/* ----------------------------------------------------------- */
                            /* decorations */
/* ----------------------------------------------------------- */
.strip-left, .strip-right {
    height: 80%;
    width: 45px;
    position: absolute;
    /* border: 1px solid black; */
}

.strip-left {
    bottom: 0;
    left: 0;
    background: linear-gradient(0.12deg, #F2709C 2.63%, #FF9472 94.44%);
    border-radius: 0px 61px 0px 0px;
}

.strip-right {
    bottom: 0;
    right: 0;
    background: linear-gradient(180deg, #FF9472 0%, #FB8881 100%);
    border-radius: 61px 0px 0px 0px;
}

/* ----------------------------------------------------------- */
                            /* content */
/* ----------------------------------------------------------- */

.content {
    display: flex;
    justify-content: center;
}

.title-content-box {
    height: 80%;
    width: 35vw;
    position: absolute;
    top: 20%;
    display: flex;
    flex-direction: column;
}
.logo-svg {
    width: 100%;
    height: 35vw;
    background-color: #fff;
}

.main-title {
    width: 100%;
    font-weight: 600;
    color: #fff;
    padding: 2vw;
    text-align: center;
}
