/* ----------------------------------------------------------- */
                            /* decorations */
/* ----------------------------------------------------------- */

.slide.whoRV {
    background: linear-gradient(117.28deg, #F2709C 10.57%, #FF9472 94.01%);
}

.whoRV-strip-left, .whoRV-strip-right {
    background: #1C242C;
    height: 80%;
    width: 45px;
    position: absolute;
}

.whoRV-strip-left {
    bottom: 0;
    left: 0;
    /* background: linear-gradient(0.12deg, #F2709C 2.63%, #FF9472 94.44%); */
    border-radius: 0px 61px 0px 0px;
}

.whoRV-strip-right {
    bottom: 0;
    right: 0;
    /* background: linear-gradient(180deg, #FF9472 0%, #FB8881 100%); */
    border-radius: 61px 0px 0px 0px;
}

/* ----------------------------------------------------------- */
                            /* content */
/* ----------------------------------------------------------- */

.whoRV .content {
    display: grid;
    grid-template-rows: 6fr 4fr;
}

.whoRV-text {
    font-weight: 600;
    font-size: 0.55em;
    margin-left: 12vw;
    margin-right: 12vw;
    margin-top: auto;
    margin-bottom: auto;
}

.whoRV-content-pack {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.whoRV-logo-svg {
    width: 22vw;
    height: 22vw;
    background: #1C242C;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 19vh;
    z-index: -1;
}

.whoRV-link-text {
    font-size: 0.35em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 0;
    margin-top: -7vh;
}

.whoRV-heading {
    font-size: 1.75em;
    font-weight: 600;
    margin-top: 24vh;
    width: 70%;
}

.whoRV-link:hover {
    text-decoration: underline;
}

.whoRV-open-in-new {
    width: 16px;
    height: 16px;
    margin-left: 4px;
}